.main {
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    position: relative;
}

.hero {
    width: 100%;
    height: 70vh;
    background: url(/images/your_verse_hero.jpg) 50% 100% no-repeat;
    position: relative;
    top: 0px;
    display: block;
}

body {
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: transparent;
    color: #333;
}

.newProducts {
    width: 100%;
    display: flex;
    /* display: block; */
}

.products {
    width: 25%;
    float: left;
    flex-grow: 1;
}

img {
    position: absolute;
    width: auto;
    height: 200px;
    border: 2px;
    display: flex;
    flex-grow: 1;
}

footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
}

.footerArea {
    display: block;
    justify-content: center;
    border: 1px;
    height: 10vh;
    margin-top: 100px;
    position: absolute;
    bottom: 0px;
}

.footerContent {
    text-align: left;
    margin-left: 200px;
}